# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Virtual Environments
# ======================
.venv/
env/
venv/
ENV/

# ======================
# IDEs
# ======================
# PyCharm
.idea/
*.iml
*.iws
*.ipr

# VSCode
.vscode/

# ======================
# System files
# ======================
.DS_Store
Thumbs.db
