# Define o que será executado: "OpenCV", "Reconstruction", "CameraCalibration", "Full", "History"
execution_mode: "CameraCalibration"

# Configurações de Caminhos (Paths)
paths:
  # Calibração
  calibration_images: "./data/in/images_calibration"
  calibration_output_folder: "./data/out/calibrations"

  # Extração (OpenCV)
  video_input: "./data/in/videos/Clio.mp4"
  frames_output: "./data/out/frames"

  # Reconstrução (Colmap)
  colmap_input: "./data/out/frames"
  colmap_output: "./data/out/reconstructions"
  resources: "./resources"

# Parâmetros Técnicos dos Módulos
parameters:
  calibration:
    checkerboard_size: [9, 6]
    square_size: 25.0

  acquisition:
    desired_fps: 5