# Define o que será executado: "OpenCV", "Reconstruction", "CameraCalibration" ou "Full"
execution_mode: "Full"

# Configurações de Caminhos (Paths)
paths:
  # Calibração
  calibration_images: "./data/in/images"
  calibration_output: "./data/out/camera_calibration_output/camera_calibration.npz"

  # Extração (OpenCV)
  video_input: "./data/in/videos/ventilador.mp4"
  frames_output: "./data/out/frames"

  # Reconstrução (Colmap)
  colmap_output: "./data/out/colmap_output"
  resources: "./resources"

# Parâmetros Técnicos dos Módulos
parameters:
  calibration:
    checkerboard_size: [9, 6]
    square_size: 25.0

  acquisition:
    desired_fps: 5